*{
	padding: 0;
	margin: 0;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
}

.bigbox {
	width: 400PX;
	height: 700px;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}

.neiron {
	width: 100%;
	height: 100%;
	background: url(../img/背景.png) 100%/100% no-repeat;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	position: absolute;
}

.right_top {
	right: -3%;
	top: -7%;
	width: 50%;
	height: 30%;
	position: absolute;
}

.yuelian_guanyun {
	position: absolute;
	top: 5%;
	right: 5%;
	width: 100%;
	height: 100%;
	background: url(../img/光晕.png) 100%/100% no-repeat;
	animation: guanyun 3s linear alternate infinite;
}

.yuelian {
	position: absolute;
	width: 100%;
	height: 100%;
	background: url(../img/月亮.png) 100%/100% no-repeat;
}

@keyframes guanyun{
	0%{
		opacity: 1;
	}
	100%{
		opacity: 0;
	}
}


.yunduo {
	position: absolute;
	top: 15%;
	width: 40%;
	height: 15%;
	background: url(../img/云朵.png) 100%/100% no-repeat;
	animation: yunduo_anima 12s linear infinite;
}

@keyframes yunduo_anima{
	0%{
		transform: translate(0px);
	}
	50%{
		transform: translate(-300px);
	}
	100%{
		transform: translate(0px);
	}
}

.changer {
	width: 10%;
	height: 7%;
	align-self: flex-start;
	transform: translate(40px);
	background: url(../img/嫦娥.png) 100%/100% no-repeat;
	animation: changer_anima 5s linear forwards;
}

@keyframes changer_anima{
	from{transform: translate(40px);}
	to{transform: translate(320px);}
}


.jdt_waikuan {
	width: 80%;
	height: 3%;
	background: url(../img/进度条外框.png) 100%/100% no-repeat;
	display: flex;
	align-items: center;
	overflow: hidden;
}

.jdt {
	width: 100%;
	height: 60%;
	background: url(../img/进度条.png) 100%/100% no-repeat;
	transform: translate(-320px);
	animation: jdt_anima 5s linear forwards;
}

@keyframes jdt_anima{
	from{transform: translate(-320px);}
	to{transform: translate(0);}
}

.hehua {
	position: absolute;
	bottom: 12%;
	left: 15%;
	width: 25%;
	height: 10%;
	background: url(../img/荷花.png) 100%/100% no-repeat;
	animation:hehua_anima 6s alternate infinite ;
}

@keyframes hehua_anima{
	0%{
		transform: translate(0);
	}
	50%{
		transform: translate(10px , 5px);
	}
	100%{
		transform: translate(-10px , -5px);
	}
}